body{
    font-family: "Verdana", verdana, sans-serif;
    color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

table {
    margin: 0 auto;
    border: 1px solid;
    border-collapse: collapse;
}

td {
    border: 1px solid;
}

input[type="text"]{
    font-size: 1.5vw;
}

input[type="file"]{
    font-size: 1.5vw;
}

button {
    font-size: 1.5vw;
}

/* The container layout */
.container {
    width: 100vw;
    height: 90vh;
    position: relative;
    top: 0;
    left: 0;
}

.container_large {
    width: 80vw;
    height: 90vh;
    left: 10vw;
    top: 0vh;
    position: absolute;
    border: solid 1px;
}

.container_medium {
    width: 70vw;
    height: calc(80vh - 2vw);
    left: 15vw;
    top: 10vh;
    position: absolute;
    border: solid 1px;
}

.container_small {
    width: 40vw;
    height: calc(80vh - 2vw);
    left: 30vw;
    top: 10vh;
    position: absolute;
    border: solid 1px;
}
/* end of the layout */

/* the specific boxes */
#options {
    background: white;
    visibility: visible;
    z-index: 3;
    font-size: 1.5vw;
    padding: 1vw;
    border-radius: 25px;
    border: solid 1px;
}

#cards {
    background: white;
    visibility: hidden;
    z-index: 1;
    font-size: 1.5vw;
    padding: 1vw;
    overflow: scroll;
    border-radius: 25px;
    border: solid 1px;
}

/* end of specific boxes */

/* Control the answer layout */
#answers {
    background: white;
    font-size: 20px;
    text-align: center;
    visibility: hidden;
    z-index: 2;
    overflow: scroll;
    border-radius: 25px;
    border: solid 1px;
}
.answer_controls {
    width: 5vw;
    height: 5vh;
    left: 19vw;
    top: 0vw;
    position: absolute;
    text-align: center;
    font-size: 2vw;
}
.answer_main {
    width: 40vw;
    height: calc(75vh - 2vw);
    left: 0vw;
    top: 5vh;
    position: absolute;
    font-size: 1vw;
    text-align: center;
}
/* end of the answer layout */

/* the main layout */
.main {
    background: white;
    z-index: 0;
    border-radius: 25px;
    border: solid 1px;
}

.main_options {
    width: 35vw;
    height: 5vh;
    left: 70vw;
    top: 0vw;
    position: absolute;
    text-align: right;
    font-size: 2vw;
}

.main_controls {
    width: 35vw;
    height: 5vh;
    left: 2vw;
    top: 0vw;
    position: absolute;
    text-align: left;
    font-size: 2vw;
}

.main_timer {
    width: 5vw;
    height: 5vh;
    left: 38vw;
    top: 0vw;
    position: absolute;
    text-align: center;
    font-size: 2vw;
}

.main_textbox {
    width: 70vw;
    height: 70vh;
    left: 5vw;
    top: 30vh;
    position: absolute;
    font-size: 5vw;
    text-align: center;
}
/* end of the main layout */


/* increase the area of icons*/
.clickable {
    display: block;
    float: left;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
}
